/* Make text to speech wrapper display all items inline no mater the screen size have a background with border-radius */
.text-to-speech-wrapper {
  display: flex;
  flex-wrap: nowrap;
  background-color: black;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  padding: 10px;
  margin: 2rem;
  color: white;
  border-radius: 50px;
  box-shadow: rgb(250, 100, 0) 0px 4px 12px;
}
.text-to-speech-wrapper > select{
  margin: 0px 5px;
  background-color: transparent;
  color: white;
  border-radius: 50px;
  cursor: pointer;
}
.text-to-speech-wrapper > select > option{
  background-color: black;
}
/* add color to button and make the button round */
.play-btn {
  background-color: orangered;
  border-radius: 50%;
  padding: 5px;
  border: 0px;
  margin: 0px 5px;
  color: white;
  cursor: pointer;
}
/* customize input */
input {
  margin: 0px 5px;
}
input[type='range'] {
  overflow: hidden;
  width: 80px;
  -webkit-appearance: none;
  background-color: gray;
}
.icon-placeholer {
  font-size: 20px;
}
input[type='range']::-webkit-slider-runnable-track {
  height: 10px;
  -webkit-appearance: none;
  color: red;
  margin-top: -1px;
}
    
input[type='range']::-webkit-slider-thumb {
  width: 10px;
  -webkit-appearance: none;
  height: 10px;
  cursor: ew-resize;
  background: white;
  box-shadow: -80px 0 0 80px orangered;
}
input[type="range"]::-moz-range-progress {
  background-color: #9a905d; 
}
input[type="range"]::-moz-range-track {  
  background-color: #9a905d;
}