.btn--wrapper {
  display: grid;
  place-content: center;
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  margin: 0.4rem;
  outline: none;
  border: none;
  cursor: pointer;
  height: auto;
}

.btn--primary {
  background-color: var(--primary);
  color: var(--secondary);
  border: 1px solid var(--primary);
}

.btn--outline {
  background-color: transparent;
  color: var(--primary);
  border: 1px solid var(--primary);
  transition: all 0.4s ease-out;
}

.btn--medium {
  padding: 0.5rem 1rem;
  font-size: 1.6rem;
}

.btn--large {
  padding: 0.7rem 1.2rem;
}

.btn--medium:hover,
.btn--large:hover {
  background: var(--primary);
  color: var(--secondary);
  transition: all 0.4s ease-out;
}

.btn-login-logout {
  font-size: 1.4rem;
  font-weight: 300;
  color: rgb(255, 56, 56);
  background-color: white;
  margin-top: -2px;
}

.btn--add-new-verb {
  font-size: 1.4rem;
  background-color: red;
  color: white;
  font-weight: 500;
}

.btn-login-logout:hover,
.btn--add-new-verb:hover {
  font-size: 1.5rem;
  font-weight: 500;
  color: rgb(255, 0, 0);
  background-color: white;
  transition: all 0.4s ease-out;
}

.btn-edit-verb {
  font-size: 0.6rem;
  font-weight: 600;
  height: 1.5rem;
  background-color: red;
  color: white;
}

.btn-edit-verb:hover {
  background-color: white;
  color: rgb(255, 52, 52);
}

.btn--translation {
  font-size: 1.4rem;
  font-weight: 300;

  background-color: rgb(4, 130, 0);
  color: rgb(241, 241, 241);
}

.btn--translation:hover {
  font-size: 1.4rem;
  font-weight: 300;

  background-color: rgb(241, 241, 241);
  color: rgb(4, 130, 0);
}
