.profile-wrapper,
.profile-name-email-wrapper,
.profile-auth-json {
  display: grid;
  place-content: center;
  background-color: rgb(177, 177, 177);
}

.profile-image {
  height: 16rem;
  width: auto;
  margin: 2rem;
  border-radius: 0.8rem;
}
